{% extends 'theatre/theatre_layout.html' %}

{% load static %}

{% block content %}

<div class="container">
    <div class="card border-0">
        <div class="card-header">
            <h5 class="card-title">Movies List</h5>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" style="color: white;">#</th>
                        <th scope="col" style="color: white;">Movie Name</th>
                        <th scope="col" style="color: white;">Genre</th>
                        <th scope="col" style="color: white;">Image</th> 
                        <th scope="col" style="color: white;">Language</th>
                        <th scope="col" style="color: white;">Duration</th>
                        <th scope="col" style="color: white;">Release Date</th>
                        <th scope="col" style="color: white;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for movie in movies %}
                    <tr>
                        <th scope="row" style="color: white;">{{ forloop.counter }}</th>
                        <td style="color: white;">{{ movie.movie_name }}</td>
                        <td style="color: white;">{{ movie.movie_genre }}</td>
                        <td>
                            {% if movie.movie_image %}
                                <img src="{{ movie.movie_image.url }}" alt="{{ movie.movie_name }}" style="width: 50px; height: 50px; object-fit: cover;">
                            {% else %}
                                No Image
                            {% endif %}
                        </td>
                        <td style="color: white;">{{ movie.movie_language }}</td>
                        <td style="color: white;">{{ movie.movie_duration }} hour</td>
                        <td style="color: white;">{{ movie.movie_release_date }}</td>
                        <td>
                            <a href="{% url 'theatre_edit_movies' movie.id %}" class="btn btn-sm btn-warning">Edit</a>
                            <a href="{% url 'theatre_delete_movies' movie.id %}" class="btn btn-sm btn-danger">Trash</a></td>
                     
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="7" class="text-center">No movies found</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
</div>

{% endblock %}