{% extends 'user/user_layout.html' %}

{% load static %}

{% block content %}

<section id="trend" class="pt-4 pb-5">
    <div class="container">
        <!-- Search Bar -->
        <div class="row mb-4">
            <div class="col-md-6 offset-md-3">
                <form method="GET" action="{% url 'movies_list_x' %}#aa" class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search Movies..." value="{{ query }}">
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </div>
        </div>

        <!-- Latest Movies Heading -->
        <div class="row trend_1">
            <div class="col-md-6">
                <div class="trend_1l">
                    <h4 class="mb-0">
                        <i class="fa fa-youtube-play align-middle col_red me-1"></i> 
                        Latest <span class="col_red">Movies</span>
                    </h4>
                </div>
            </div>
        </div>

        <!-- Movie List -->
        <div class="row trend_2 mt-4">
            {% for movie in movies_list %}
            <div class="col-md-3 col-6 mb-4">
                <div class="trend_2im clearfix position-relative">
                    <div class="trend_2im1 clearfix">
                        <div class="grid" id="aa">
                            <figure class="effect-jazz mb-0">
                                <a href="{% url 'movie_detail_x' movie.id %}#bb">
                                    <img src="{{ movie.movie_image.url }}" class="w-100" alt="{{ movie.movie_name }}" style="height: 250px; object-fit: cover; border-radius: 10px;">
                                </a>
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="trend_2ilast bg_grey p-3 clearfix text-center">
                    <h5>
                        <a class="col_red" href="{% url 'movie_detail_x' movie.id %}">
                            {{ movie.movie_name|truncatechars:20 }}
                        </a>
                    </h5>
                    <p class="mb-2">{{ movie.movie_language }}</p>
                </div>
            </div>

            <!-- Movie Trailer Modal -->
            <div class="modal fade" id="trailerModal{{ movie.id }}" tabindex="-1" aria-labelledby="trailerModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="trailerModalLabel">{{ movie.movie_name }} - Trailer</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}