{% extends 'user/user_layout.html' %}
{% block content %}

<div class="container mt-4">
    <div class="row">
        <!-- Image on the Left -->
        <div class="col-md-5" id="bb">
            <img src="{{ movie.movie_image.url }}" alt="{{ movie.movie_name }}" class="img-fluid rounded" style="max-height: 400px; object-fit: cover; width: 100%;">
        </div>

        <!-- Content on the Right -->
        <div class="col-md-7">
            <h2>{{ movie.movie_name }}</h2>
            <p><strong>Language:</strong> {{ movie.movie_language }}</p>
            <p><strong>Genre:</strong> {{ movie.movie_genre }}</p>
            <p><strong>Duration:</strong> {{ movie.movie_duration }} hour</p>
            <p><strong>Release Date:</strong> {{ movie.movie_release_date }}</p>
            <p><strong>Cast:</strong> {{ movie.movie_cast }}</p>
            <p><strong>Crew:</strong> {{ movie.movie_crew }}</p>
            <p><strong>Description:</strong> {{ movie.movie_description }}</p>

            <a href="{% url 'movies_list_x' %}" class="btn btn-secondary mt-3">Back to Movies</a>
            <a href="#" class="btn btn-primary mt-3">Book Ticket</a>
        </div>
    </div>
</div>
<br><br>

{% endblock %}
