{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>FILMTIX</title>
	<link href="{% static 'user/css/bootstrap.min.css' %}" rel="stylesheet" >
	<link href="{% static 'user/css/font-awesome.min.css' %}" rel="stylesheet" >
	<link href="{% static 'user/css/global.css' %}" rel="stylesheet">
	<link href="{% static 'user/css/index.css' %}" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
	<script src="{% static 'user/js/bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

<section id="top">
<div class="container">
 <div class="row top_1">
	<div class="col-md-3">
		<div class="top_1l pt-1 d-flex align-items-center">
			<a href="index.html">
				<img src="{% static 'logo/tlogo.png' %}" alt="Logo" 
				class="img-fluid" style="width: 150px; height: auto;">
			 </a>			 
		</div>
	 </div>
  <div class="col-md-5">
   <div class="top_1m">
    <div class="input-group">
				<input type="text" class="form-control bg-black" placeholder="Search Site...">
				<span class="input-group-btn">
					<button class="btn btn text-white bg_red rounded-0 border-0" type="button">
						 Search</button>
				</span>
		</div>
   </div>
  </div>
  <div class="col-md-4">
   <div class="top_1r text-end">
     <ul class="social-network social-circle mb-0">
            <span style="margin-left: 30px;"></span>
            <li><a href="#" class="icoProfile" title="Profile"><i class="fa fa-user"></i></a> {{user.username}}</li>
            <span style="margin-left:10px;"></span>
            <li><a href="{% url 'user_logout' %}" class="icoLogout" title="Logout"><i class="fa fa-sign-out"></i></a></li>
            
		</ul>
   </div>
  </div>
 </div>
</div>
</section>

<section id="header">
<nav class="navbar navbar-expand-md navbar-light" id="navbar_sticky">
	<div class="container">
		<a class="navbar-brand text-white fw-bold" href="index.html">
			<img src="{% static 'logo/tlogo.png' %}" alt="FilmTix Logo" style="width: 150px; height: auto;">
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'user_dashboard' %}">Home</a>
        </li>
		{% comment %} <li class="nav-item">
          <a class="nav-link" href="#about">About Us</a>
        </li> {% endcomment %}


        <li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
			  Theatre
			</a>
			<ul class="dropdown-menu drop_1" aria-labelledby="navbarDropdown">
			  {% for theatre in theatre_list %}
				<li>
				  <a class="dropdown-item" href="{% url 'theatre_movies' theatre.id %}#popular">
					{{ theatre.fk_user.username }}
				  </a>
				</li>
			  {% endfor %}
			</ul>
		  </li>
		  


		{% comment %} <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li> {% endcomment %}
		<li class="nav-item">
          <a class="nav-link" href="{% url 'movies_list_x' %}">Movies</a>
        </li>
		<li class="nav-item">
			<a class="nav-link" href="{% url 'booking_history' %}">History</a>
		  </li>

		  <li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
			  User Concerns
			</a>
			<ul class="dropdown-menu drop_1" aria-labelledby="navbarDropdown">
			  <li><a class="dropdown-item" href="{% url 'user_complaints' %}">Feedback</a></li>
			  <li><a class="dropdown-item" href="{% url 'user_theatre_complaints' %}">Theatre Feedback</a></li>
			</ul>
		  </li>

		  <li class="nav-item">
			<a class="nav-link" href="{% url 'user_theatre_list' %}">Rate Theatres</a>
		</li>
		{% comment %} <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Pages
          </a>
          <ul class="dropdown-menu drop_1" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="about.html">About Us</a></li>
            <li><a class="dropdown-item" href="services.html">Services</a></li>
			<li><a class="dropdown-item" href="team.html">Team</a></li>
            <li><a class="dropdown-item border-0" href="contact.html">Contact</a></li>
          </ul>
        </li> {% endcomment %}
		
		{% comment %} <li class="nav-item">
          <a class="nav-link" href="#about">Contact Us</a>
        </li> {% endcomment %}
      </ul>
    </div>
  </div>
</nav>
</section>


{% block content %}

{% endblock %}


<section id="footer_b" class="pt-3 pb-3 bg_grey">
<div class="container">
   <div class="row footer_1">
     <div class="col-md-8">
	  {% comment %} <div class="footer_1l">
	   <p class="mb-0">© 2013 Your Website Name. All Rights Reserved | Design by <a class="col_red" href="http://www.templateonweb.com">TemplateOnWeb</a></p>
	  </div> {% endcomment %}
	 </div>
	 {% comment %} <div class="col-md-4">
	  <div class="footer_1r">
	   <ul class="mb-0">
	    <li class="d-inline-block me-2"><a href="#">Home</a></li>
		<li class="d-inline-block me-2"><a href="#">Features</a></li>
		<li class="d-inline-block me-2"><a href="#">Pages</a></li>
		<li class="d-inline-block me-2"><a href="#">Portfolio</a></li>
		<li class="d-inline-block me-2"><a href="#">Blog</a></li>
		<li class="d-inline-block"><a href="#">Contact</a></li>
	   </ul>
	  </div>
	 </div> {% endcomment %}
   </div>
</div>
</section>

<script>
window.onscroll = function() {myFunction()};

var navbar_sticky = document.getElementById("navbar_sticky");
var sticky = navbar_sticky.offsetTop;
var navbar_height = document.querySelector('.navbar').offsetHeight;

function myFunction() {
  if (window.pageYOffset >= sticky + navbar_height) {
    navbar_sticky.classList.add("sticky")
	document.body.style.paddingTop = navbar_height + 'px';
  } else {
    navbar_sticky.classList.remove("sticky");
	document.body.style.paddingTop = '0'
  }
}
</script>

</body>

</html>